Preparing sentencing dataframe for analysis

### Importing libraries

In [3]:
import pandas as pd

#### Importing dataset

In [5]:
data_types = {
    "id": str,
    "st_Imposed_Dt": str,
    "st_Confine": str
}

In [6]:
sentence = pd.read_csv("data/obts/obts_sentence.csv", dtype = data_types)
sentence.columns = sentence.columns.str.upper()

sentence.head()

C:\Users\sdasgupta\AppData\Local\Temp\ipykernel_2200\3089198023.py:1: DtypeWarning: Columns (4,5,6,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  sentence = pd.read_csv("data/obts/obts_sentence.csv", dtype = data_types)

,ID,ST_IMPOSED_DT,ST_CONFINE,ST_CONFINE_TYPE,ST_CONFINE_LEN_SUSP,ST_CREDIT_TIME,ST_PROB_LEN,ST_COMM_LEN,ST_FINE,ST_COURT_COST,ST_RESTITUTION,ST_SENT_PROV,ST_SP_SENT_PROV
0,1,88888888,88888888888888,N,888888,0.0,8888888.0,888888.0,888888.88,888888.88,888888.88,NNNNN,NNNNNNN
1,2,88888888,88888888888888,N,888888,0.0,8888888.0,888888.0,888888.88,888888.88,888888.88,NNNNN,NNNNNNN
2,3,88888888,88888888888888,N,888888,0.0,8888888.0,888888.0,888888.88,888888.88,888888.88,NNNNN,NNNNNNN
3,4,88888888,88888888888888,N,888888,0.0,8888888.0,888888.0,888888.88,888888.88,888888.88,NNNNN,NNNNNNN
4,5,20080811,00000020000002,C,888888,2.0,600.0,888888.0,888888.88,311.0,888888.88,NNNNN,NNNNNNN

In [7]:
sentence.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18341292 entries, 0 to 18341291
Data columns (total 13 columns):
 #   Column               Dtype
---  ------               -----
 0   ID                   object
 1   ST_IMPOSED_DT        object
 2   ST_CONFINE           object
 3   ST_CONFINE_TYPE      object
 4   ST_CONFINE_LEN_SUSP  object
 5   ST_CREDIT_TIME       object
 6   ST_PROB_LEN          object
 7   ST_COMM_LEN          float64
 8   ST_FINE              object
 9   ST_COURT_COST        object
 10  ST_RESTITUTION       float64
 11  ST_SENT_PROV         object
 12  ST_SP_SENT_PROV      object
dtypes: float64(2), object(11)
memory usage: 1.8+ GB

### Formating dataframe

In [9]:
def convert(value):
    try:
        return str(int(value))
    except ValueError:
        return "N/A"

In [10]:
min_date = pd.to_datetime("NaT") 

def date_convert(value):
    if value == "00000000":
        return min_date
    elif value == "88888888":
        return min_date
    elif value == "0.0":
        return min_date
    elif value == "88888888.0":
        return min_date
    else:
        try:
            return pd.to_datetime(value, format = "%Y%m%d")
        except ValueError:
            return min_date

In [11]:
sentence["ST_IMPOSED_DT"] = sentence["ST_IMPOSED_DT"].fillna("00000000").replace("NA", "00000000")
sentence["ST_IMPOSED_DT"] = sentence["ST_IMPOSED_DT"].apply(date_convert)
sentence["ST_IMPOSED_YR"] = sentence["ST_IMPOSED_DT"].dt.year


sentence["ST_CONFINE"] = sentence["ST_CONFINE"].apply(convert)
sentence["ST_CONFINE"] = sentence["ST_CONFINE"].apply(lambda x: x.zfill(14))

sentence["ST_CONFINE"] = sentence["ST_CONFINE"].replace("88888888888888", "N/A")
sentence["ST_CONFINE"] = sentence["ST_CONFINE"].replace("00000000000N/A", "N/A")
sentence["ST_CONFINE"] = sentence["ST_CONFINE"].replace("99999999999998", "LIFE")
sentence["ST_CONFINE"] = sentence["ST_CONFINE"].replace("99999999999999", "DEATH")
sentence["ST_CONFINE"] = sentence["ST_CONFINE"].replace("66666666666666", "JUV")
sentence["ST_CONFINE"] = sentence["ST_CONFINE"].replace("55555555555555", "JUV")

sentence

,ID,ST_IMPOSED_DT,ST_CONFINE,ST_CONFINE_TYPE,ST_CONFINE_LEN_SUSP,ST_CREDIT_TIME,ST_PROB_LEN,ST_COMM_LEN,ST_FINE,ST_COURT_COST,ST_RESTITUTION,ST_SENT_PROV,ST_SP_SENT_PROV,ST_IMPOSED_YR
0,1,NaT,N/A,N,888888,0.0,8888888.0,888888.0,888888.88,888888.88,8.888889e+05,NNNNN,NNNNNNN,NaN
1,2,NaT,N/A,N,888888,0.0,8888888.0,888888.0,888888.88,888888.88,8.888889e+05,NNNNN,NNNNNNN,NaN
2,3,NaT,N/A,N,888888,0.0,8888888.0,888888.0,888888.88,888888.88,8.888889e+05,NNNNN,NNNNNNN,NaN
3,4,NaT,N/A,N,888888,0.0,8888888.0,888888.0,888888.88,888888.88,8.888889e+05,NNNNN,NNNNNNN,NaN
4,5,2008-08-11,00000020000002,C,888888,2.0,600.0,888888.0,888888.88,311.0,8.888889e+05,NNNNN,NNNNNNN,2008.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18341287,18341482,NaT,N/A,N,888888,0,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N,NaN
18341288,18341483,NaT,N/A,N,888888,0,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N,NaN
18341289,18341484,NaT,N/A,N,888888,0,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N,NaN
18341290,18341485,NaT,N/A,N,888888,0,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N,NaN
18341291,18341486,NaT,N/A,N,888888,0,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N,NaN

### Separating out data for analysis

#### Life, death and juvenile sentences

In [14]:
st_type = ["N/A", "LIFE", "DEATH", "JUV"]

### filters out life, death and juvenile sentences
sentence_other_1 = sentence[sentence["ST_CONFINE"].isin(st_type)].reset_index(drop = True)
sentence_other_1["ST_PART1"] = sentence_other_1["ST_CONFINE"]
sentence_other_1["ST_PART2"] = sentence_other_1["ST_CONFINE"]

#### Fixed duration sentences

In [16]:
sentence_main = sentence[~sentence["ST_CONFINE"].isin(st_type)].reset_index(drop = True)

### creates new columns with min and max sentence periods
sentence_main["ST_PART1"] = sentence_main["ST_CONFINE"].apply(lambda x: x[:7])
sentence_main["ST_PART2"] = sentence_main["ST_CONFINE"].apply(lambda x: x[7:])

sentence_main["ST_PART1"] = sentence_main["ST_PART1"].replace("8888888", "0000000")
sentence_main["ST_PART1"] = sentence_main["ST_PART1"].replace("9999998", "LIFE")
sentence_main["ST_PART1"] = sentence_main["ST_PART1"].replace("9999999", "DEATH")
sentence_main["ST_PART1"] = sentence_main["ST_PART1"].replace("6666666", "JUV")
sentence_main["ST_PART1"] = sentence_main["ST_PART1"].replace("5555555", "JUV")

sentence_main["ST_PART2"] = sentence_main["ST_PART2"].replace("8888888", "0000000")
sentence_main["ST_PART2"] = sentence_main["ST_PART2"].replace("9999998", "LIFE")
sentence_main["ST_PART2"] = sentence_main["ST_PART2"].replace("9999999", "DEATH")
sentence_main["ST_PART2"] = sentence_main["ST_PART2"].replace("6666666", "JUV")
sentence_main["ST_PART2"] = sentence_main["ST_PART2"].replace("5555555", "JUV")

In [17]:
sentence_other_2 = sentence_main[sentence_main["ST_PART1"].isin(st_type)].reset_index(drop = True)
sentence_other = pd.concat([sentence_other_1, sentence_other_2], axis=0, ignore_index=True)

sentence_other

,ID,ST_IMPOSED_DT,ST_CONFINE,ST_CONFINE_TYPE,ST_CONFINE_LEN_SUSP,ST_CREDIT_TIME,ST_PROB_LEN,ST_COMM_LEN,ST_FINE,ST_COURT_COST,ST_RESTITUTION,ST_SENT_PROV,ST_SP_SENT_PROV,ST_IMPOSED_YR,ST_PART1,ST_PART2
0,1,NaT,N/A,N,888888,0.0,8888888.0,888888.0,888888.88,888888.88,8.888889e+05,NNNNN,NNNNNNN,NaN,N/A,N/A
1,2,NaT,N/A,N,888888,0.0,8888888.0,888888.0,888888.88,888888.88,8.888889e+05,NNNNN,NNNNNNN,NaN,N/A,N/A
2,3,NaT,N/A,N,888888,0.0,8888888.0,888888.0,888888.88,888888.88,8.888889e+05,NNNNN,NNNNNNN,NaN,N/A,N/A
3,4,NaT,N/A,N,888888,0.0,8888888.0,888888.0,888888.88,888888.88,8.888889e+05,NNNNN,NNNNNNN,NaN,N/A,N/A
4,6,2008-07-09,N/A,N,888888,0.0,8888888.0,888888.0,888888.88,326.0,8.888889e+05,NNNNN,NNNNNNN,2008.0,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13944046,12026797,2017-08-09,99999990010725,P,888888,161.0,8888888.0,888888.0,888888888.0,888888888.0,1.480000e+02,CT,NaN,2017.0,DEATH,0010725
13944047,12027298,2017-11-16,99999980000001,C,888888,1.0,8888888.0,888888.0,888888888.0,888888888.0,8.888889e+08,C,NaN,2017.0,LIFE,0000001
13944048,12037382,2017-12-07,99999990000400,C,888888,102.0,8888888.0,888888.0,888888888.0,888888888.0,8.888889e+08,C,NaN,2017.0,DEATH,0000400
13944049,12040825,2018-02-02,99999980000010,C,888888,10.0,10525.0,888888.0,888888888.0,888888888.0,1.000000e+09,CT,NaN,2018.0,LIFE,0000010
13944050,13114042,2018-03-21,99999980000001,C,888888,1.0,8888888.0,888888.0,888888888.0,888888888.0,8.888889e+08,C,NaN,2018.0,LIFE,0000001

In [18]:
sentence_main = sentence_main[~sentence_main["ST_PART1"].isin(st_type)].reset_index(drop = True)
sentence_main = sentence_main[~sentence_main["ST_PART2"].isin(st_type)].reset_index(drop = True)

sentence_main

,ID,ST_IMPOSED_DT,ST_CONFINE,ST_CONFINE_TYPE,ST_CONFINE_LEN_SUSP,ST_CREDIT_TIME,ST_PROB_LEN,ST_COMM_LEN,ST_FINE,ST_COURT_COST,ST_RESTITUTION,ST_SENT_PROV,ST_SP_SENT_PROV,ST_IMPOSED_YR,ST_PART1,ST_PART2
0,5,2008-08-11,00000020000002,C,888888,2.0,600.0,888888.0,888888.88,311.0,8.888889e+05,NNNNN,NNNNNNN,2008.0,0000002,0000002
1,7,2008-02-18,00000020000002,C,888888,1.0,8888888.0,888888.0,888888.88,176.0,8.888889e+05,NNNNN,NNNNNNN,2008.0,0000002,0000002
2,8,2008-01-28,00000010000001,C,888888,1.0,8888888.0,888888.0,888888.88,176.0,8.888889e+05,NNNNN,NNNNNNN,2008.0,0000001,0000001
3,12,2008-08-13,00500000050000,P,888888,1820.0,8888888.0,888888.0,888888.88,888888.88,8.888889e+05,NNNNN,NNNNNNN,2008.0,0050000,0050000
4,55,2008-10-08,00106000010600,P,888888,643.0,8888888.0,888888.0,888888.88,888888.88,8.888889e+05,NNNNN,NNNNNNN,2008.0,0010600,0010600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4396081,18341463,2024-01-08,88888880000011,C,888888,1100,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N,2024.0,0000000,0000011
4396082,18341464,2024-02-07,00001110000111,C,888888,4100,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N,2024.0,0000111,0000111
4396083,18341465,2024-02-07,00001110000111,C,888888,4100,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N,2024.0,0000111,0000111
4396084,18341477,2024-02-07,00001110000111,C,888888,1400,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N,2024.0,0000111,0000111
4396085,18341478,2024-02-07,00002000000200,C,888888,5000,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N,2024.0,0000200,0000200

In [19]:
### converts sentence to days
days_1 = sentence_main["ST_PART1"].apply(lambda x: int(x[-2:]))
months_1 = sentence_main["ST_PART1"].apply(lambda x: int(x[3:5]))
years_1 = sentence_main["ST_PART1"].apply(lambda x: int(x[:3]))
days_2 = sentence_main["ST_PART2"].apply(lambda x: int(x[-2:]))
months_2 = sentence_main["ST_PART2"].apply(lambda x: int(x[3:5]))
years_2 = sentence_main["ST_PART2"].apply(lambda x: int(x[:3]))

sentence_main["ST_PART1"] = (years_1*365) + (months_1*30) + days_1
sentence_main["ST_PART2"] = (years_2*365) + (months_2*30) + days_2

In [20]:
def check_non_zero(row):
    if row["ST_PART1"] != 0 and row["ST_PART2"] != 0:
        return row["ST_PART2"]
    else:
        return row["ST_PART1"] + row["ST_PART2"]

In [21]:
sentence_main["ST_DAYS"] = sentence_main.apply(check_non_zero, axis=1)

### changes position of columns
cols = list(sentence_main.columns)
cols = cols[:3] + [cols[-3], cols[-2], cols[-1]] + cols[3:-3]
sentence_main = sentence_main[cols]

sentence_main

,ID,ST_IMPOSED_DT,ST_CONFINE,ST_PART1,ST_PART2,ST_DAYS,ST_CONFINE_TYPE,ST_CONFINE_LEN_SUSP,ST_CREDIT_TIME,ST_PROB_LEN,ST_COMM_LEN,ST_FINE,ST_COURT_COST,ST_RESTITUTION,ST_SENT_PROV,ST_SP_SENT_PROV,ST_IMPOSED_YR
0,5,2008-08-11,00000020000002,2,2,2,C,888888,2.0,600.0,888888.0,888888.88,311.0,8.888889e+05,NNNNN,NNNNNNN,2008.0
1,7,2008-02-18,00000020000002,2,2,2,C,888888,1.0,8888888.0,888888.0,888888.88,176.0,8.888889e+05,NNNNN,NNNNNNN,2008.0
2,8,2008-01-28,00000010000001,1,1,1,C,888888,1.0,8888888.0,888888.0,888888.88,176.0,8.888889e+05,NNNNN,NNNNNNN,2008.0
3,12,2008-08-13,00500000050000,1825,1825,1825,P,888888,1820.0,8888888.0,888888.0,888888.88,888888.88,8.888889e+05,NNNNN,NNNNNNN,2008.0
4,55,2008-10-08,00106000010600,545,545,545,P,888888,643.0,8888888.0,888888.0,888888.88,888888.88,8.888889e+05,NNNNN,NNNNNNN,2008.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4396081,18341463,2024-01-08,88888880000011,0,11,11,C,888888,1100,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N,2024.0
4396082,18341464,2024-02-07,00001110000111,41,41,41,C,888888,4100,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N,2024.0
4396083,18341465,2024-02-07,00001110000111,41,41,41,C,888888,4100,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N,2024.0
4396084,18341477,2024-02-07,00001110000111,41,41,41,C,888888,1400,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N,2024.0
4396085,18341478,2024-02-07,00002000000200,60,60,60,C,888888,5000,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N,2024.0

### Exporting dataframes

In [23]:
sentence.to_csv("data/obts/sentence_master.csv", index = False)
sentence_main.to_csv("data/obts/sentence_main.csv", index = False)
sentence_other.to_csv("data/obts/sentence_other.csv", index = False)