Preparing dataset with basic information of each defendant.

### Importing libraries

In [3]:
import pandas as pd
import numpy as np

### Importing dataset

In [5]:
data_types = {
    "id": str,
    "County": str,
    "birth_date": str,
    "Init_Arrest_Dt": str,
    "Clerk_Dt": str,
    "CaseNumber": str,
    "Offense_Dt": str,
    "Capias_Dt": str,
    "Rearrest_Dt": str
}

In [6]:
obts_basic = pd.read_csv("data/obts/obts_basic.csv", dtype = data_types)
obts_basic.columns = obts_basic.columns.str.upper()

obts_basic.info()

C:\Users\sdasgupta\AppData\Local\Temp\ipykernel_2032\3955556958.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  obts_basic = pd.read_csv("data/obts/obts_basic.csv", dtype = data_types)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18341486 entries, 0 to 18341485
Data columns (total 18 columns):
 #   Column            Dtype
---  ------            -----
 0   ID                object
 1   MESSAGE_TYPE      object
 2   OFF_TRAN_NO       object
 3   COURT_DOCKET_NO   object
 4   SEQUENCE_NO       int64
 5   NO_OF_COUNTS      int64
 6   COURT_DESIGNATOR  object
 7   COUNTY            object
 8   ARREST_NAME       object
 9   FINAL_NAME        object
 10  SEX               object
 11  RACE              object
 12  BIRTH_DATE        object
 13  INIT_ARREST_DT    object
 14  CLERK_DT          object
 15  OFFENSE_DT        object
 16  CAPIAS_DT         object
 17  REARREST_DT       object
dtypes: int64(2), object(16)
memory usage: 2.5+ GB

In [7]:
obts_basic

,ID,MESSAGE_TYPE,OFF_TRAN_NO,COURT_DOCKET_NO,SEQUENCE_NO,NO_OF_COUNTS,COURT_DESIGNATOR,COUNTY,ARREST_NAME,FINAL_NAME,SEX,RACE,BIRTH_DATE,INIT_ARREST_DT,CLERK_DT,OFFENSE_DT,CAPIAS_DT,REARREST_DT
0,1,N,8888888888,011991CF000568XXXAXX,1,1,R,01,5a36e4f5f094e5c72f81de886cea69f232570f14,5a36e4f5f094e5c72f81de886cea69f232570f14,M,B,NaN,19910220,19910220,19910129,19930107,88888888
1,2,N,8888888888,011991CF000568XXXAXX,2,1,R,01,5a36e4f5f094e5c72f81de886cea69f232570f14,5a36e4f5f094e5c72f81de886cea69f232570f14,M,B,NaN,19910220,19910220,19910129,19930107,88888888
2,3,N,8888888888,011995CF003385XXXAXX,2,1,R,01,4656e660210c168530c54aed3277e4aa17354332,4656e660210c168530c54aed3277e4aa17354332,M,B,197311,19950830,19950830,19950709,00000000,88888888
3,4,N,8888888888,011999CF003366XXXAXX,1,1,R,01,f02add2c191d6e2f770e6e084897c223df878d9d,f02add2c191d6e2f770e6e084897c223df878d9d,M,W,197604,19990910,19990910,19990602,00000000,88888888
4,5,N,108009684,011999CT000044XXXAXX,1,1,C,01,f40c34e94f18211f599f6d33f100a177495d5885,f40c34e94f18211f599f6d33f100a177495d5885,M,B,194707,20080810,20080810,19981229,19990120,88888888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18341481,18341482,N,8888888888,672024MM000008MMAXMX,1,1,C,67,40e3ca5eacd1a5375924f542ae0e68fe1d978105,40e3ca5eacd1a5375924f542ae0e68fe1d978105,M,W,199906,20231222,20231222,20231222,88888888,88888888
18341482,18341483,N,8888888888,672024MM000009MMAXMX,1,1,C,67,f1397e0bc1517e73010da30902e4362a0053be3e,f1397e0bc1517e73010da30902e4362a0053be3e,M,W,200304,20231223,20231223,20231223,88888888,88888888
18341483,18341484,N,8888888888,672024MM000010MMAXMX,1,1,C,67,f6907b940d36ebed53a8d22aa1e41e9b485a45af,f6907b940d36ebed53a8d22aa1e41e9b485a45af,M,W,200102,20231223,20231223,20231223,88888888,88888888
18341484,18341485,N,8888888888,672024MM000011MMAXMX,1,1,C,67,ee7bc5811be3893e7ea644395dde5728c10d0a02,ee7bc5811be3893e7ea644395dde5728c10d0a02,M,W,200112,20231217,20231217,20231217,88888888,88888888
18341485,18341486,N,8888888888,672024MM000017MMAXMX,1,1,C,67,cef89db53c801bf0252c2adca7fd45b3090320f5,cef89db53c801bf0252c2adca7fd45b3090320f5,F,B,200511,20240111,20231231,20231231,20240108,88888888

### Formating dates

#### Controlling for null values

In [10]:
obts_basic["BIRTH_DATE"] = obts_basic["BIRTH_DATE"].fillna("000000").replace("NA", "000000")

obts_basic["INIT_ARREST_DT"] = obts_basic["INIT_ARREST_DT"].fillna("00000000").replace("NA", "00000000")
obts_basic["CLERK_DT"] = obts_basic["CLERK_DT"].fillna("00000000").replace("NA", "00000000")
obts_basic["OFFENSE_DT"] = obts_basic["OFFENSE_DT"].fillna("00000000").replace("NA", "00000000")
obts_basic["CAPIAS_DT"] = obts_basic["CAPIAS_DT"].fillna("00000000").replace("NA", "00000000")
obts_basic["REARREST_DT"] = obts_basic["REARREST_DT"].fillna("00000000").replace("NA", "00000000")

obts_basic

,ID,MESSAGE_TYPE,OFF_TRAN_NO,COURT_DOCKET_NO,SEQUENCE_NO,NO_OF_COUNTS,COURT_DESIGNATOR,COUNTY,ARREST_NAME,FINAL_NAME,SEX,RACE,BIRTH_DATE,INIT_ARREST_DT,CLERK_DT,OFFENSE_DT,CAPIAS_DT,REARREST_DT
0,1,N,8888888888,011991CF000568XXXAXX,1,1,R,01,5a36e4f5f094e5c72f81de886cea69f232570f14,5a36e4f5f094e5c72f81de886cea69f232570f14,M,B,000000,19910220,19910220,19910129,19930107,88888888
1,2,N,8888888888,011991CF000568XXXAXX,2,1,R,01,5a36e4f5f094e5c72f81de886cea69f232570f14,5a36e4f5f094e5c72f81de886cea69f232570f14,M,B,000000,19910220,19910220,19910129,19930107,88888888
2,3,N,8888888888,011995CF003385XXXAXX,2,1,R,01,4656e660210c168530c54aed3277e4aa17354332,4656e660210c168530c54aed3277e4aa17354332,M,B,197311,19950830,19950830,19950709,00000000,88888888
3,4,N,8888888888,011999CF003366XXXAXX,1,1,R,01,f02add2c191d6e2f770e6e084897c223df878d9d,f02add2c191d6e2f770e6e084897c223df878d9d,M,W,197604,19990910,19990910,19990602,00000000,88888888
4,5,N,108009684,011999CT000044XXXAXX,1,1,C,01,f40c34e94f18211f599f6d33f100a177495d5885,f40c34e94f18211f599f6d33f100a177495d5885,M,B,194707,20080810,20080810,19981229,19990120,88888888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18341481,18341482,N,8888888888,672024MM000008MMAXMX,1,1,C,67,40e3ca5eacd1a5375924f542ae0e68fe1d978105,40e3ca5eacd1a5375924f542ae0e68fe1d978105,M,W,199906,20231222,20231222,20231222,88888888,88888888
18341482,18341483,N,8888888888,672024MM000009MMAXMX,1,1,C,67,f1397e0bc1517e73010da30902e4362a0053be3e,f1397e0bc1517e73010da30902e4362a0053be3e,M,W,200304,20231223,20231223,20231223,88888888,88888888
18341483,18341484,N,8888888888,672024MM000010MMAXMX,1,1,C,67,f6907b940d36ebed53a8d22aa1e41e9b485a45af,f6907b940d36ebed53a8d22aa1e41e9b485a45af,M,W,200102,20231223,20231223,20231223,88888888,88888888
18341484,18341485,N,8888888888,672024MM000011MMAXMX,1,1,C,67,ee7bc5811be3893e7ea644395dde5728c10d0a02,ee7bc5811be3893e7ea644395dde5728c10d0a02,M,W,200112,20231217,20231217,20231217,88888888,88888888
18341485,18341486,N,8888888888,672024MM000017MMAXMX,1,1,C,67,cef89db53c801bf0252c2adca7fd45b3090320f5,cef89db53c801bf0252c2adca7fd45b3090320f5,F,B,200511,20240111,20231231,20231231,20240108,88888888

#### Defining methods to convert to date-time format

In [12]:
min_date = pd.to_datetime("NaT")  

def birth_convert(date_str):
    try:
        return pd.to_datetime(date_str, format = "%Y%m").strftime("%Y-%m")
    except Exception:
        return min_date
    
def date_convert(value):
    if value == "00000000":
        return min_date
    else:
        try:
            return pd.to_datetime(value, format = "%Y%m%d")
        except ValueError:
            return min_date

#### Converting to date-time format

In [14]:
obts_basic["BIRTH_DATE"] = obts_basic["BIRTH_DATE"].apply(birth_convert)
print("Birth date formating complete.")
obts_basic["INIT_ARREST_DT"] = obts_basic["INIT_ARREST_DT"].apply(date_convert)
print("Initial arrest date formating complete.")
obts_basic["CLERK_DT"] = obts_basic["CLERK_DT"].apply(date_convert)
print("Clerk date formating complete.")
obts_basic["OFFENSE_DT"] = obts_basic["OFFENSE_DT"].apply(date_convert)
print("Offense date formating complete.")
obts_basic["CAPIAS_DT"] = obts_basic["CAPIAS_DT"].apply(date_convert)
print("Capias date formating complete.")
obts_basic["REARREST_DT"] = obts_basic["REARREST_DT"].apply(date_convert)
print("Rearrest date formating complete.")

obts_basic

Birth date formating complete.
Initial arrest date formating complete.
Clerk date formating complete.
Offense date formating complete.
Capias date formating complete.
Rearrest date formating complete.

,ID,MESSAGE_TYPE,OFF_TRAN_NO,COURT_DOCKET_NO,SEQUENCE_NO,NO_OF_COUNTS,COURT_DESIGNATOR,COUNTY,ARREST_NAME,FINAL_NAME,SEX,RACE,BIRTH_DATE,INIT_ARREST_DT,CLERK_DT,OFFENSE_DT,CAPIAS_DT,REARREST_DT
0,1,N,8888888888,011991CF000568XXXAXX,1,1,R,01,5a36e4f5f094e5c72f81de886cea69f232570f14,5a36e4f5f094e5c72f81de886cea69f232570f14,M,B,NaT,1991-02-20,1991-02-20,1991-01-29,1993-01-07,NaT
1,2,N,8888888888,011991CF000568XXXAXX,2,1,R,01,5a36e4f5f094e5c72f81de886cea69f232570f14,5a36e4f5f094e5c72f81de886cea69f232570f14,M,B,NaT,1991-02-20,1991-02-20,1991-01-29,1993-01-07,NaT
2,3,N,8888888888,011995CF003385XXXAXX,2,1,R,01,4656e660210c168530c54aed3277e4aa17354332,4656e660210c168530c54aed3277e4aa17354332,M,B,1973-11,1995-08-30,1995-08-30,1995-07-09,NaT,NaT
3,4,N,8888888888,011999CF003366XXXAXX,1,1,R,01,f02add2c191d6e2f770e6e084897c223df878d9d,f02add2c191d6e2f770e6e084897c223df878d9d,M,W,1976-04,1999-09-10,1999-09-10,1999-06-02,NaT,NaT
4,5,N,108009684,011999CT000044XXXAXX,1,1,C,01,f40c34e94f18211f599f6d33f100a177495d5885,f40c34e94f18211f599f6d33f100a177495d5885,M,B,1947-07,2008-08-10,2008-08-10,1998-12-29,1999-01-20,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18341481,18341482,N,8888888888,672024MM000008MMAXMX,1,1,C,67,40e3ca5eacd1a5375924f542ae0e68fe1d978105,40e3ca5eacd1a5375924f542ae0e68fe1d978105,M,W,1999-06,2023-12-22,2023-12-22,2023-12-22,NaT,NaT
18341482,18341483,N,8888888888,672024MM000009MMAXMX,1,1,C,67,f1397e0bc1517e73010da30902e4362a0053be3e,f1397e0bc1517e73010da30902e4362a0053be3e,M,W,2003-04,2023-12-23,2023-12-23,2023-12-23,NaT,NaT
18341483,18341484,N,8888888888,672024MM000010MMAXMX,1,1,C,67,f6907b940d36ebed53a8d22aa1e41e9b485a45af,f6907b940d36ebed53a8d22aa1e41e9b485a45af,M,W,2001-02,2023-12-23,2023-12-23,2023-12-23,NaT,NaT
18341484,18341485,N,8888888888,672024MM000011MMAXMX,1,1,C,67,ee7bc5811be3893e7ea644395dde5728c10d0a02,ee7bc5811be3893e7ea644395dde5728c10d0a02,M,W,2001-12,2023-12-17,2023-12-17,2023-12-17,NaT,NaT
18341485,18341486,N,8888888888,672024MM000017MMAXMX,1,1,C,67,cef89db53c801bf0252c2adca7fd45b3090320f5,cef89db53c801bf0252c2adca7fd45b3090320f5,F,B,2005-11,2024-01-11,2023-12-31,2023-12-31,2024-01-08,NaT

In [15]:
obts_basic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18341486 entries, 0 to 18341485
Data columns (total 18 columns):
 #   Column            Dtype
---  ------            -----
 0   ID                object
 1   MESSAGE_TYPE      object
 2   OFF_TRAN_NO       object
 3   COURT_DOCKET_NO   object
 4   SEQUENCE_NO       int64
 5   NO_OF_COUNTS      int64
 6   COURT_DESIGNATOR  object
 7   COUNTY            object
 8   ARREST_NAME       object
 9   FINAL_NAME        object
 10  SEX               object
 11  RACE              object
 12  BIRTH_DATE        object
 13  INIT_ARREST_DT    datetime64[ns]
 14  CLERK_DT          datetime64[ns]
 15  OFFENSE_DT        datetime64[ns]
 16  CAPIAS_DT         datetime64[ns]
 17  REARREST_DT       datetime64[ns]
dtypes: datetime64[ns](5), int64(2), object(11)
memory usage: 2.5+ GB

### Exporting dataframe

In [17]:
obts_basic.to_csv("data/obts/obts_basic_revised.csv", index = False)