Creates separate dataframes for minors and adults

### Importing libraries

In [3]:
import pandas as pd

### Importing dataset

In [5]:
date_columns = ["BIRTH_DATE", "INIT_ARREST_DT", "CLERK_DT", "OFFENSE_DT", "CAPIAS_DT", "REARREST_DT"]

In [6]:
obts_basic = pd.read_csv("data/obts/obts_basic_revised.csv", parse_dates = date_columns)
obts_basic["BIRTH_DATE"] = obts_basic["BIRTH_DATE"].apply(lambda x: x.replace(day = 15))

obts_basic.info()

C:\Users\sdasgupta\AppData\Local\Temp\ipykernel_12220\2536520538.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  obts_basic = pd.read_csv("data/obts/obts_basic_revised.csv", parse_dates = date_columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18341486 entries, 0 to 18341485
Data columns (total 18 columns):
 #   Column            Dtype
---  ------            -----
 0   ID                int64
 1   MESSAGE_TYPE      object
 2   OFF_TRAN_NO       object
 3   COURT_DOCKET_NO   object
 4   SEQUENCE_NO       int64
 5   NO_OF_COUNTS      int64
 6   COURT_DESIGNATOR  object
 7   COUNTY            int64
 8   ARREST_NAME       object
 9   FINAL_NAME        object
 10  SEX               object
 11  RACE              object
 12  BIRTH_DATE        datetime64[ns]
 13  INIT_ARREST_DT    datetime64[ns]
 14  CLERK_DT          datetime64[ns]
 15  OFFENSE_DT        datetime64[ns]
 16  CAPIAS_DT         datetime64[ns]
 17  REARREST_DT       datetime64[ns]
dtypes: datetime64[ns](6), int64(4), object(8)
memory usage: 2.5+ GB

In [7]:
obts_basic

,ID,MESSAGE_TYPE,OFF_TRAN_NO,COURT_DOCKET_NO,SEQUENCE_NO,NO_OF_COUNTS,COURT_DESIGNATOR,COUNTY,ARREST_NAME,FINAL_NAME,SEX,RACE,BIRTH_DATE,INIT_ARREST_DT,CLERK_DT,OFFENSE_DT,CAPIAS_DT,REARREST_DT
0,1,N,8888888888,011991CF000568XXXAXX,1,1,R,1,5a36e4f5f094e5c72f81de886cea69f232570f14,5a36e4f5f094e5c72f81de886cea69f232570f14,M,B,NaT,1991-02-20,1991-02-20,1991-01-29,1993-01-07,NaT
1,2,N,8888888888,011991CF000568XXXAXX,2,1,R,1,5a36e4f5f094e5c72f81de886cea69f232570f14,5a36e4f5f094e5c72f81de886cea69f232570f14,M,B,NaT,1991-02-20,1991-02-20,1991-01-29,1993-01-07,NaT
2,3,N,8888888888,011995CF003385XXXAXX,2,1,R,1,4656e660210c168530c54aed3277e4aa17354332,4656e660210c168530c54aed3277e4aa17354332,M,B,1973-11-15,1995-08-30,1995-08-30,1995-07-09,NaT,NaT
3,4,N,8888888888,011999CF003366XXXAXX,1,1,R,1,f02add2c191d6e2f770e6e084897c223df878d9d,f02add2c191d6e2f770e6e084897c223df878d9d,M,W,1976-04-15,1999-09-10,1999-09-10,1999-06-02,NaT,NaT
4,5,N,108009684,011999CT000044XXXAXX,1,1,C,1,f40c34e94f18211f599f6d33f100a177495d5885,f40c34e94f18211f599f6d33f100a177495d5885,M,B,1947-07-15,2008-08-10,2008-08-10,1998-12-29,1999-01-20,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18341481,18341482,N,8888888888,672024MM000008MMAXMX,1,1,C,67,40e3ca5eacd1a5375924f542ae0e68fe1d978105,40e3ca5eacd1a5375924f542ae0e68fe1d978105,M,W,1999-06-15,2023-12-22,2023-12-22,2023-12-22,NaT,NaT
18341482,18341483,N,8888888888,672024MM000009MMAXMX,1,1,C,67,f1397e0bc1517e73010da30902e4362a0053be3e,f1397e0bc1517e73010da30902e4362a0053be3e,M,W,2003-04-15,2023-12-23,2023-12-23,2023-12-23,NaT,NaT
18341483,18341484,N,8888888888,672024MM000010MMAXMX,1,1,C,67,f6907b940d36ebed53a8d22aa1e41e9b485a45af,f6907b940d36ebed53a8d22aa1e41e9b485a45af,M,W,2001-02-15,2023-12-23,2023-12-23,2023-12-23,NaT,NaT
18341484,18341485,N,8888888888,672024MM000011MMAXMX,1,1,C,67,ee7bc5811be3893e7ea644395dde5728c10d0a02,ee7bc5811be3893e7ea644395dde5728c10d0a02,M,W,2001-12-15,2023-12-17,2023-12-17,2023-12-17,NaT,NaT
18341485,18341486,N,8888888888,672024MM000017MMAXMX,1,1,C,67,cef89db53c801bf0252c2adca7fd45b3090320f5,cef89db53c801bf0252c2adca7fd45b3090320f5,F,B,2005-11-15,2024-01-11,2023-12-31,2023-12-31,2024-01-08,NaT

### Computing age

In [9]:
obts_basic["AGE"] = round((obts_basic["OFFENSE_DT"] - obts_basic["BIRTH_DATE"]) / pd.Timedelta(days = 365.25),2)

obts_basic

,ID,MESSAGE_TYPE,OFF_TRAN_NO,COURT_DOCKET_NO,SEQUENCE_NO,NO_OF_COUNTS,COURT_DESIGNATOR,COUNTY,ARREST_NAME,FINAL_NAME,SEX,RACE,BIRTH_DATE,INIT_ARREST_DT,CLERK_DT,OFFENSE_DT,CAPIAS_DT,REARREST_DT,AGE
0,1,N,8888888888,011991CF000568XXXAXX,1,1,R,1,5a36e4f5f094e5c72f81de886cea69f232570f14,5a36e4f5f094e5c72f81de886cea69f232570f14,M,B,NaT,1991-02-20,1991-02-20,1991-01-29,1993-01-07,NaT,NaN
1,2,N,8888888888,011991CF000568XXXAXX,2,1,R,1,5a36e4f5f094e5c72f81de886cea69f232570f14,5a36e4f5f094e5c72f81de886cea69f232570f14,M,B,NaT,1991-02-20,1991-02-20,1991-01-29,1993-01-07,NaT,NaN
2,3,N,8888888888,011995CF003385XXXAXX,2,1,R,1,4656e660210c168530c54aed3277e4aa17354332,4656e660210c168530c54aed3277e4aa17354332,M,B,1973-11-15,1995-08-30,1995-08-30,1995-07-09,NaT,NaT,21.65
3,4,N,8888888888,011999CF003366XXXAXX,1,1,R,1,f02add2c191d6e2f770e6e084897c223df878d9d,f02add2c191d6e2f770e6e084897c223df878d9d,M,W,1976-04-15,1999-09-10,1999-09-10,1999-06-02,NaT,NaT,23.13
4,5,N,108009684,011999CT000044XXXAXX,1,1,C,1,f40c34e94f18211f599f6d33f100a177495d5885,f40c34e94f18211f599f6d33f100a177495d5885,M,B,1947-07-15,2008-08-10,2008-08-10,1998-12-29,1999-01-20,NaT,51.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18341481,18341482,N,8888888888,672024MM000008MMAXMX,1,1,C,67,40e3ca5eacd1a5375924f542ae0e68fe1d978105,40e3ca5eacd1a5375924f542ae0e68fe1d978105,M,W,1999-06-15,2023-12-22,2023-12-22,2023-12-22,NaT,NaT,24.52
18341482,18341483,N,8888888888,672024MM000009MMAXMX,1,1,C,67,f1397e0bc1517e73010da30902e4362a0053be3e,f1397e0bc1517e73010da30902e4362a0053be3e,M,W,2003-04-15,2023-12-23,2023-12-23,2023-12-23,NaT,NaT,20.69
18341483,18341484,N,8888888888,672024MM000010MMAXMX,1,1,C,67,f6907b940d36ebed53a8d22aa1e41e9b485a45af,f6907b940d36ebed53a8d22aa1e41e9b485a45af,M,W,2001-02-15,2023-12-23,2023-12-23,2023-12-23,NaT,NaT,22.85
18341484,18341485,N,8888888888,672024MM000011MMAXMX,1,1,C,67,ee7bc5811be3893e7ea644395dde5728c10d0a02,ee7bc5811be3893e7ea644395dde5728c10d0a02,M,W,2001-12-15,2023-12-17,2023-12-17,2023-12-17,NaT,NaT,22.00
18341485,18341486,N,8888888888,672024MM000017MMAXMX,1,1,C,67,cef89db53c801bf0252c2adca7fd45b3090320f5,cef89db53c801bf0252c2adca7fd45b3090320f5,F,B,2005-11-15,2024-01-11,2023-12-31,2023-12-31,2024-01-08,NaT,18.12

### Separating out minors and adults

#### Minors

In [12]:
obts_basic_jr = obts_basic[obts_basic["AGE"] < 18].reset_index(drop = True)

obts_basic_jr

,ID,MESSAGE_TYPE,OFF_TRAN_NO,COURT_DOCKET_NO,SEQUENCE_NO,NO_OF_COUNTS,COURT_DESIGNATOR,COUNTY,ARREST_NAME,FINAL_NAME,SEX,RACE,BIRTH_DATE,INIT_ARREST_DT,CLERK_DT,OFFENSE_DT,CAPIAS_DT,REARREST_DT,AGE
0,48,N,8888888888,012005CF005485XXXAXX,1,1,R,1,0377b33bdb918406b8547a8efb0b054ba21e0a9b,0377b33bdb918406b8547a8efb0b054ba21e0a9b,M,W,1987-10-15,2005-12-13,2005-12-13,2005-03-08,NaT,NaT,17.40
1,49,N,8888888888,012005CF005485XXXAXX,2,1,R,1,0377b33bdb918406b8547a8efb0b054ba21e0a9b,0377b33bdb918406b8547a8efb0b054ba21e0a9b,M,W,1987-10-15,2005-12-13,2005-12-13,2005-03-08,NaT,NaT,17.40
2,50,N,8888888888,012005CF005485XXXAXX,3,1,R,1,0377b33bdb918406b8547a8efb0b054ba21e0a9b,0377b33bdb918406b8547a8efb0b054ba21e0a9b,M,W,1987-10-15,2005-12-13,2005-12-13,2005-03-10,NaT,NaT,17.40
3,51,N,8888888888,012005CF005485XXXAXX,4,1,R,1,0377b33bdb918406b8547a8efb0b054ba21e0a9b,0377b33bdb918406b8547a8efb0b054ba21e0a9b,M,W,1987-10-15,2005-12-13,2005-12-13,2005-03-08,NaT,NaT,17.40
4,290,N,8888888888,012007CF002605XXXAXX,1,1,R,1,5cb02c8ff9cd28b3c9e88355a67fea53514246ab,5cb02c8ff9cd28b3c9e88355a67fea53514246ab,M,B,1989-06-15,NaT,2008-02-18,2007-06-03,NaT,NaT,17.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278790,18340966,N,8888888888,672023IN000114INAXMX,1,1,C,67,fd6243c34fc918a6455d775d98eb78eaaa3daae9,fd6243c34fc918a6455d775d98eb78eaaa3daae9,F,W,2007-10-15,2023-11-17,2023-11-17,2023-11-17,NaT,NaT,16.09
278791,18340967,N,8888888888,672023IN000115INAXMX,1,1,C,67,9b55e388296426b9247b77aaf6c70316b287e5e6,9b55e388296426b9247b77aaf6c70316b287e5e6,M,W,2006-02-15,2023-11-26,2023-11-26,2023-11-26,NaT,NaT,17.78
278792,18340968,N,8888888888,672023IN000116INAXMX,1,1,C,67,9b55e388296426b9247b77aaf6c70316b287e5e6,9b55e388296426b9247b77aaf6c70316b287e5e6,M,W,2006-02-15,2023-11-26,2023-11-26,2023-11-26,NaT,NaT,17.78
278793,18340969,N,8888888888,672023IN000117INAXMX,1,1,C,67,9b55e388296426b9247b77aaf6c70316b287e5e6,9b55e388296426b9247b77aaf6c70316b287e5e6,M,W,2006-02-15,2023-11-26,2023-11-26,2023-11-26,NaT,NaT,17.78
278794,18340974,N,8888888888,672023IN000122INAXMX,1,1,C,67,36bf51f3bdbf11b2b3e89b3316d7c4c7e86a83ff,36bf51f3bdbf11b2b3e89b3316d7c4c7e86a83ff,M,W,2006-03-15,2023-12-17,2023-12-17,2023-12-17,NaT,NaT,17.76

#### Adults

In [14]:
obts_basic_sr = obts_basic[obts_basic["AGE"] >= 18].reset_index(drop = True)

obts_basic_sr

,ID,MESSAGE_TYPE,OFF_TRAN_NO,COURT_DOCKET_NO,SEQUENCE_NO,NO_OF_COUNTS,COURT_DESIGNATOR,COUNTY,ARREST_NAME,FINAL_NAME,SEX,RACE,BIRTH_DATE,INIT_ARREST_DT,CLERK_DT,OFFENSE_DT,CAPIAS_DT,REARREST_DT,AGE
0,3,N,8888888888,011995CF003385XXXAXX,2,1,R,1,4656e660210c168530c54aed3277e4aa17354332,4656e660210c168530c54aed3277e4aa17354332,M,B,1973-11-15,1995-08-30,1995-08-30,1995-07-09,NaT,NaT,21.65
1,4,N,8888888888,011999CF003366XXXAXX,1,1,R,1,f02add2c191d6e2f770e6e084897c223df878d9d,f02add2c191d6e2f770e6e084897c223df878d9d,M,W,1976-04-15,1999-09-10,1999-09-10,1999-06-02,NaT,NaT,23.13
2,5,N,108009684,011999CT000044XXXAXX,1,1,C,1,f40c34e94f18211f599f6d33f100a177495d5885,f40c34e94f18211f599f6d33f100a177495d5885,M,B,1947-07-15,2008-08-10,2008-08-10,1998-12-29,1999-01-20,NaT,51.46
3,6,N,102106918,011999CT000716XXXAXX,1,1,C,1,e4b7515b15088cfb71a21ca22d21b191f0bf4c4c,e4b7515b15088cfb71a21ca22d21b191f0bf4c4c,M,W,1978-05-15,2008-06-13,2008-06-13,1999-03-03,1999-04-07,NaT,20.80
4,7,N,107215147,011999CT002017XXXAXX,1,1,C,1,8029268ab7aedea6af1ede51b9ddc954a96b3373,8029268ab7aedea6af1ede51b9ddc954a96b3373,M,W,1975-10-15,2008-02-18,2008-02-18,1999-06-16,1999-07-07,NaT,23.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17892420,18341482,N,8888888888,672024MM000008MMAXMX,1,1,C,67,40e3ca5eacd1a5375924f542ae0e68fe1d978105,40e3ca5eacd1a5375924f542ae0e68fe1d978105,M,W,1999-06-15,2023-12-22,2023-12-22,2023-12-22,NaT,NaT,24.52
17892421,18341483,N,8888888888,672024MM000009MMAXMX,1,1,C,67,f1397e0bc1517e73010da30902e4362a0053be3e,f1397e0bc1517e73010da30902e4362a0053be3e,M,W,2003-04-15,2023-12-23,2023-12-23,2023-12-23,NaT,NaT,20.69
17892422,18341484,N,8888888888,672024MM000010MMAXMX,1,1,C,67,f6907b940d36ebed53a8d22aa1e41e9b485a45af,f6907b940d36ebed53a8d22aa1e41e9b485a45af,M,W,2001-02-15,2023-12-23,2023-12-23,2023-12-23,NaT,NaT,22.85
17892423,18341485,N,8888888888,672024MM000011MMAXMX,1,1,C,67,ee7bc5811be3893e7ea644395dde5728c10d0a02,ee7bc5811be3893e7ea644395dde5728c10d0a02,M,W,2001-12-15,2023-12-17,2023-12-17,2023-12-17,NaT,NaT,22.00
17892424,18341486,N,8888888888,672024MM000017MMAXMX,1,1,C,67,cef89db53c801bf0252c2adca7fd45b3090320f5,cef89db53c801bf0252c2adca7fd45b3090320f5,F,B,2005-11-15,2024-01-11,2023-12-31,2023-12-31,2024-01-08,NaT,18.12

### Exporting dataframes

In [16]:
obts_basic_jr.to_csv("data/obts/obts_basic_jr.csv", index = False)
obts_basic_sr.to_csv("data/obts/obts_basic_sr.csv", index = False)